<div class="overlay row justify-content-between align-items-md-center align-items-sm-start">
  
  <div class="col-xl-3 col-lg-4 col-md-4">
    <h1 class="display-3 text-primary bg-light p-3 py-4">
      <a class="text-reset nounderline " href="/menus/dinner" id="eat">
        Eat
      </a>
    </h1>
  </div>
  
  <div class="col-xl-3 col-lg-4 col-md-4">
    <h1 class="display-3 text-primary bg-light p-3 py-4">
      <a class="text-reset nounderline" href="/menus/drinks" id="drink">
        Drink
      </a>
    </h1>
  </div>

  <div class="col-xl-3 col-lg-4 col-md-4">
    <h1 class="display-3 text-primary bg-light p-3 py-4">
      <a class="text-reset nounderline" href="/visit" id="visit">
        Visit
      </a>
    </h1>
  </div>
  
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item img-fluid active" data-bs-interval="5000">
      <img src="/images/sample-1.jpg" class="d-block w-100" alt="Sample 1">
    </div>

    <div class="carousel-item img-fluid" data-bs-interval="5000">
      <img src="/images/sample-2.jpg" class="d-block w-100" alt="Sample 2">
    </div>

    <div class="carousel-item img-fluid" data-bs-interval="5000">
      <img src="/images/sample-3.jpg" class="d-block w-100" alt="Sample 3">
    </div>
    
    <div class="carousel-item img-fluid" data-bs-interval="5000">
      <img src="/images/sample-4.jpg" class="d-block w-100" alt="Sample 4">
    </div>

    <div class="carousel-item img-fluid" data-bs-interval="5000">
      <img src="/images/sample-5.jpg" class="d-block w-100" alt="Sample 5">
    </div>

  </div>
</div>
