<div class="row d-flex justify-content-center align-items-start">
  <div class="col-lg-5 col-sm-6 bg-light p-5 mt-5">
    <h1 class="text-center text-primary">{{ menuTitle }}</h1>
  </div>
</div>

{{#each menu}}
  <div class="row d-flex justify-content-center align-items-start">
    <div class="col-lg-5 col-sm-6 bg-light p-4 pt-5 mt-3">
      <div class="d-flex justify-content-between align-items-end">
        <h3 class="text-secondary">{{ this.name }}</h3>
        <h5 class="text-secondary">{{ this.price }}</h5>
      </div>
      <p>{{ formatIngredients this.description }}</p>
    </div>   
  </div>
{{/each}}
