<div class="row d-flex justify-content-around align-items-start">
  <div class="col-lg-5 col-sm-6 bg-secondary p-5 mt-5">
    <h1 class="display-5 text-center text-white">making mexican food great again</h1>
  </div>
  
  <div class="col-lg-5 col-sm-6 bg-secondary p-5 my-5">
    <h1 class="text-center text-primary">Story</h1>
    <p class="text-white">Welcome to Placita Riverside. The name… La Placita (originally: La Placita de los Trujillos) is a former settlement and the earliest community established in what we know as Riverside. The town was informally established soon after 1843 on the Santa Ana River, across from the town of Agua Mansa. La Placita and Agua Mansa were the first non-native settlements in the San Bernardino Valley.</p>
    <p class="text-white">At Placita we want you to feel at home. Come in with a what’s up and not leave without a  good bye. Our focus is on building a well-rounded menu to better onces dinning experience with us. As well as for our selfs, we are  proud to come to work in the morning and feel great leaving.</p>
    <p class="text-white">The cuisine this time around will be more on the traditional side but still with a touch of elegance.  With the current events that are amongst us we are keeping out heads up and staying hopeful.</p>
  </div>
</div>
