<div class="row justify-content-center">
  <div class="col-lg-5 col-md-6 col-sm-7 col-9 bg-light p-5 my-5">
    
    <h1 class="text-center text-primary">Hours</h1>

    <div class="row justify-content-center">      
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-6 col-sm-7">
        
        <div class="row justify-content-between">
          <div class="col-4">
            <p class="text-start text-dark">Mon</p>
          </div>
          <div class="col-8">
            <p class="text-end text-dark">Closed</p>
          </div>
        </div>
        
        <div class="row justify-content-between">
          <div class="col-4">
            <p class="text-start text-dark">Tues</p>
          </div>
          <div class="col-8">
            <p class="text-end text-dark">5–10</p>
          </div>
        </div>
        
        <div class="row justify-content-between">
          <div class="col-4">
            <p class="text-start text-dark">Wed</p>
          </div>
          <div class="col-8">
            <p class="text-end text-dark">5–10</p>
          </div>
        </div>
        
        <div class="row justify-content-between">
          <div class="col-4">
            <p class="text-start text-dark">Thur</p>
          </div>
          <div class="col-8">
            <p class="text-end text-dark">5–10</p>
          </div>
        </div>
        
        <div class="row justify-content-between">
          <div class="col-4">
            <p class="text-start text-dark">Fri</p>
          </div>
          <div class="col-8">
            <p class="text-end text-dark">5–10</p>
          </div>
        </div>
        
        <div class="row justify-content-between">
          <div class="col-4">
            <p class="text-start text-dark">Sat</p>
          </div>
          <div class="col-8">
            <p class="text-end text-dark">5–10</p>
          </div>
        </div>
        
        <div class="row justify-content-between">
          <div class="col-4">
            <p class="text-start text-dark">Sun</p>
          </div>
          <div class="col-8">
            <p class="text-end text-dark">11–3 & 5–10</p>
          </div>
        </div>
        
      </div>
    </div>
    
    <h1 class="text-center text-primary">Location</h1>

    <p class="text-center text-dark">
      <a class="text-reset nounderline" href="geo:33.976014,-117.350845">
        1805 University Ave</br>
        Riverside, CA 92507
      </a>
    </p>
    
    <h1 class="text-center text-primary">Contact</h1>

    <p class="text-center text-dark">
      <a class="text-reset nounderline" href="tel:951-405-8960">(951) 405-8960</a>
    </p>
  </div>
</div>
