<div class="d-flex justify-content-center align-items-center">
  <div class="col-lg-5 col-md-6 col-sm-7 bg-light p-5 my-5">
    <h1 class="text-center text-primary">Hours</h1>
    
    <p class="text-center text-dark">Mon Closed</p>
    <p class="text-center text-dark">Tues–Sat 5–10</p>
    <p class="text-center text-dark">Sun 11–3 & 5–10</p>
    
    <h1 class="text-center text-primary">Location</h1>
    
    <p class="text-center text-dark">
      <a class="text-reset nounderline" href="geo:33.976014,-117.350845">
        1805 University Ave</br>
        Riverside, CA 92507
      </a>
    </p>
    
    <h1 class="text-center text-primary">Contact</h1>
    <p class="text-center text-dark">
      <a class="text-reset nounderline" href="tel:951-405-8960">(951) 405-8960</a>
    </p>
  </div>
</div>
