<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="row justify-content-between mt-md-6 mt-5">
      
      <div class="col-xl-4 col-lg-4 col-md-4 position-relative">
        <h1 class="display-3 text-primary text-center bg-light py-4">
          <a class="text-reset nounderline stretched-link" href="/menus/dinner" id="eat">
            Eat
          </a>
        </h1>
      </div>
      
      <div class="col-xl-4 col-lg-4 col-md-4 position-relative">
        <h1 class="display-3 text-primary text-center bg-light py-4">
          <a class="text-reset nounderline stretched-link" href="/menus/drinks" id="drink">
            Drink
          </a>
        </h1>
      </div>
      
      <div class="col-xl-4 col-lg-4 col-md-4 position-relative">
        <h1 class="display-3 text-primary text-center bg-light py-4">
          <a class="text-reset nounderline stretched-link" href="/visit" id="visit">
            Visit
          </a>
        </h1>
      </div>

    </div>
  </div>
</div>

<script src="/js/index.js"></script>
