<div class="row justify-content-around">
  
  <div class="col-lg-5 col-md-5 col-sm-7 col-9 bg-light p-5 mt-5 h-50">
    <h1 class="display-5 text-center text-primary">making mexican food great again</h1>
  </div>
  
  <div class="col-lg-5 col-md-5 col-sm-7 col-9 bg-light p-5 my-5">
    <h1 class="text-center text-primary">Story</h1>
    <p class="text-dark">Welcome to Placita Riverside! The name La Placita (originally: La Placita de los Trujillos) is a former settlement and the earliest community established in what we know as Riverside. The town was informally established soon after 1843 on the Santa Ana River, across from the town of Agua Mansa. La Placita and Agua Mansa were the first non-native settlements in the San Bernardino Valley.</p>
    <p class="text-dark">At Placita we want you to feel at home. Come in with "what’s up", and don't leave without a goodbye! Our focus is on building a well-rounded menu to create a one-of-a-kind dining experience. And for us? We are proud to come to work in the morning, and feel great leaving at the end of the night.</p>
    <p class="text-dark">Our cuisine is traditional, with a touch of elegance. With the current events that are amongst us we are keeping our heads up and staying hopeful.</p>
  </div>
  
</div>
